@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.logotipo {
    height: 7rem;
}

#header-flex {
    /* Configuração do Header */
    margin-bottom: 0.25rem;
    box-shadow: 0 0 6px rgb(109, 109, 109);
}

#header-elementos {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 0.75rem 0.5rem;
    margin-bottom: 50px;
}


.pag-inicial{
    font-weight: bolder;
    background-image: url(./imagens/logotransparente.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: initial;
    padding: 35px;
}

.img-servicos{
    display: flex;
    text-align: center;
    justify-items:flex-end;
    justify-content:space-around;
    padding-right: 1rem;
}

.contatos{
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content:space-between;
    width: 200px;
    padding-right: 1rem;
}


.footer-flex {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 0.75rem 0.5rem;
    box-shadow: 0 0 5px black;
    margin-top: 35px;
}

#combinado-icones-redes-sociais {
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content:space-between;
    width: 7rem;
    padding-right: 1rem;
}

.icone-redes-sociais {
    height: 2.2rem;
}

.copyright-footer{
    font-size: 0.75rem;
    text-align: center;
}