@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.logotipo {
    height: 6.5rem;
    box-shadow: 0 0 8px rgb(109, 109, 109);
    border-radius: 5px;
    margin: 20px 0;
}

#header-flex {
    /* Configuração do Header */
    margin-bottom: 0.25rem;
    box-shadow: 0 0 6px rgb(109, 109, 109);
    background-color: #e2e5f0;
}

.links-menu{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    /* padding: 0.75rem 0.5rem; */
}

.links-menu li{
    list-style: none;
}

.links-menu li a{
    text-decoration: none;
    padding: 0 15px;
    color: #ff0000;
    font-size: 20px;
}

#header-elementos {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.logo-principal{
    height: 500px;
    margin: 200px;
}

.subtitulo{
    font-size: 40px;
    margin-bottom: 30px;
    color: rgb(20, 20, 218);
}

.sobre-nos{
    padding: 20px;
    margin: 15px;
    text-align: center;
}


.pag-inicial{
    display: flex;
    justify-items: center;
    font-weight: bolder;
    margin: 40px;
}

.img-servicos{
    list-style: none;
    display: flex;
    justify-content:space-between;
    text-align:center;
    justify-items: center;
    padding-right: 1rem;
}

.img-servicos ul li img{
    border-radius: 5px;
}

.contatos{
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content:space-between;
    width: 200px;
    padding-right: 1rem;
}


.footer-flex {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 0.75rem 0.5rem;
    box-shadow: 0 0 5px rgb(109, 109, 109);
    margin-top: 35px;
    background-color: #e2e5f0;
}

#combinado-icones-redes-sociais {
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content:space-between;
    width: 7rem;
    padding-right: 1rem;
}

.icone-redes-sociais {
    height: 2.2rem;
}

.copyright-footer{
    font-size: 0.75rem;
    text-align: center;
}